div.MapTitleNoShow
{
  color: #336699;
  font-size: 26pt;
  font-weight: bold;
  text-align: left;
}

.MapTitleNoShow_outer
{
}

.MapTitleNoShow_inner
{
  color: #336699;
  font-size: 26pt;
  font-weight: bold;
  text-align: left;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Preface_Title
{
  border-bottom-color: DarkGray;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #336699;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 12pt;
  text-align: center;
}

.Preface_Title_outer
{
  border-bottom-color: DarkGray;
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 12pt;
}

.Preface_Title_inner
{
  color: #336699;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Short_Description
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Short_Description_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Short_Description_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Section
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Section_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Section_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Child_Topic_No_Show
{
  text-indent: -18pt;
}

.Child_Topic_No_Show_outer
{
}

.Child_Topic_No_Show_inner
{
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_1
{
  color: #336699;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
  padding-bottom: 12pt;
  text-align: left;
}

.Heading_1_outer
{
  margin-top: 1em;
  padding-bottom: 12pt;
}

.Heading_1_inner
{
  color: #336699;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Heading_2
{
  color: #336699;
  font-size: 12pt;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0px;
  margin-top: 1.2em;
  text-align: left;
}

.Heading_2_outer
{
  margin-bottom: 0.5em;
  margin-top: 1.2em;
}

.Heading_2_inner
{
  color: #336699;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Body_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Body_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Chapter_Title
{
  border-bottom-color: DarkGray;
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: #336699;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 12pt;
  text-align: center;
}

.Chapter_Title_outer
{
  border-bottom-color: DarkGray;
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 12pt;
}

.Chapter_Title_inner
{
  color: #336699;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Child_Topic
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-left: 18pt;
  margin-top: 0.5em;
  text-indent: -18pt;
}

.Child_Topic_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Child_Topic_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Chapter_Child_Topic_Open
{
  font-weight: normal;
  padding-top: 6pt;
}

.Chapter_Child_Topic_Open_outer
{
  padding-top: 6pt;
}

.Chapter_Child_Topic_Open_inner
{
  font-weight: normal;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_1
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-left: 18pt;
  margin-top: 0.5em;
  text-indent: -18pt;
}

.List_1_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.List_1_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_1
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-left: 18pt;
  margin-top: 0.5em;
  text-indent: -18pt;
}

.Numbered_1_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Numbered_1_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Section_Title
{
  color: #336699;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.2em;
  text-align: left;
}

.Section_Title_outer
{
  margin-bottom: 0.5em;
  margin-right: 0em;
  margin-top: 1.2em;
}

.Section_Title_inner
{
  color: #336699;
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_1_Continued
{
  margin-left: 18pt;
}

.List_1_Continued_outer
{
}

.List_1_Continued_inner
{
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_2
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-left: 36pt;
  margin-top: 0.5em;
  text-indent: -18pt;
}

.List_2_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.List_2_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.note_1
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-left: 18pt;
  margin-top: 0.5em;
}

.note_1_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.note_1_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Numbered_1_Continued
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-left: 18pt;
  margin-top: 0.5em;
}

.Numbered_1_Continued_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Numbered_1_Continued_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Body_1
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-left: 18pt;
  margin-top: 0.5em;
}

.Body_1_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Body_1_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Table_Cell_Head
{
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Table_Cell_Head_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Table_Cell_Head_inner
{
  font-weight: bold;
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Table_Cell
{
  line-height: 1.4em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Table_Cell_outer
{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Table_Cell_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.List_1_in_Table
{
  line-height: 1.4em;
  margin-bottom: 0.1em;
  margin-left: 18pt;
  margin-top: 0.1em;
  text-indent: -18pt;
}

.List_1_in_Table_outer
{
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}

.List_1_in_Table_inner
{
  line-height: 1.4em;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Figure_Title
{
  font-weight: bold;
  padding-bottom: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: text-bottom;
}

.Figure_Title_outer
{
  padding-bottom: 0pt;
  padding-top: 6pt;
}

.Figure_Title_inner
{
  font-weight: bold;
  text-align: left;
  vertical-align: text-bottom;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

div.Table_Title
{
  font-weight: bold;
  padding-bottom: 0pt;
  padding-top: 6pt;
  text-align: left;
  vertical-align: text-bottom;
}

.Table_Title_outer
{
  padding-bottom: 0pt;
  padding-top: 6pt;
}

.Table_Title_inner
{
  font-weight: bold;
  text-align: left;
  vertical-align: text-bottom;
  margin-left: 0pt;
  margin-right: 0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
}

b.Bold
{
  font-weight: bold;
}

span.Italic
{
  font-style: italic;
}

span.codeph
{
  font-family: 'Lucida Console', 'Courier New', Monospace;
}

table.Default
{
  border-bottom-color: Black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-left-color: Black;
  border-left-style: solid;
  border-left-width: 1pt;
  border-right-color: Black;
  border-right-style: solid;
  border-right-width: 1pt;
  border-top-color: Black;
  border-top-style: solid;
  border-top-width: 1pt;
  empty-cells: hide;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 4pt;
  padding-bottom: 5pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

img.Default
{
  border-bottom-width: 0pt;
  border-left-width: 0pt;
  border-right-width: 0pt;
  border-top-width: 0pt;
  height: auto;
  max-width: 640px;
  padding-bottom: 0pt;
  padding-left: 0pt;
  padding-right: 0pt;
  padding-top: 0pt;
  width: auto;
}

.highlight {background-color: yellow;}
